.for2 {
	width: 70%;
	margin: 30px auto;
}

#idtable4, #idtable5 {
	width: 100%;
}

#idtable4 td {
	height: 20px;
}

#idtable5 td {
	height: 30px;
}

.tdtag {
	width: 150px;
	text-align: right;
	font-weight: bolder;
}

.tdErr, .span1 {
	color: red;
}

.tdNotes, .span2 {
	color: #9D9D9D;
	font-size: x-small;
}

.btn2 {
	text-align: center;
}