#idtable1 {
	margin: 30px auto;
	border-collapse: collapse;
}

#idtable1 tr {
	text-align: center;
}

#idtable1 th {
	text-align: center;
	background-color: #E0E0E0;
	padding: 10px 20px;
}

#idtable1 td {
	border-bottom: 1px solid #ddd;
	padding: 10px 20px;
}

#idtable2 {
	width: 800px;
	border-radius: 20px;
	background-color: #E0E0E0;
	margin: 30px auto;
	border-collapse: separate;
	padding: 20px;
}

#idtable2 td, #idtable3 td {
	padding: 5px 5px;
}

.tdtag {
	width: 150px;
	text-align: right;
	font-weight: bolder;
}

.for1 {
	width: 600px;
	margin: 30px auto;
}

.span1 {
	color: red;
}

.tdNotes {
	color: #9D9D9D;
	font-size: x-small;
}

.btn1 {
	text-align: right;
}

#attImg {
	width: 500px;
}

.result {
	display: block;
	margin: 0px auto;
}