.imgButton{
	width: 40%;
}
.img1{
	margin:0;
	padding:0;
	width: 10%;
	float:left;
}
.well{
	padding-top:0px;
	padding-bottom:5px;
}

.logout{
	width: 10%;
	float:left;
}
.col-sm-4{
	width: 25%;
}
.col-sm-8{
	width: 75%;
}