.imgButton{
	width: 29%;
}

.logout{
	width: 26.5%;
}
.col-md-5{
	left: 28%;
}
.CanNotLeft{
  	width:100%;
}
.CanNotLeftDiv{
	width:25%;
	text-align:center;
	left:2%;
	top:25%;
	position:absolute;
}
.CanNotRight{
  	width:100%;
}
.CanNotRightDiv{
	width:25%;
	text-align:center;
	right:2%;
	top:25%;
	position:absolute;
}
p{
	font-size:16px;
}