body{
	background-image: url("../images/mainPageBackground.jpg");
	z-index:1;
}
.imgButton{
	width: 29%;
}

.logout{
	width: 26.5%;
}
.imgButton > .home{
	width: 26%;
}
.col-md-5{
	left: 29%;
	font-family: 'Noto Sans TC', sans-serif;
	font-size:18px;
}
.well{
	font-family: 'Noto Sans TC', sans-serif;
	font-size:18px;
}
.CanNotLeft{
  	width:100%;
}
.CanNotLeftDiv{
	width:20%;
	text-align:center;
	left:5%;
	top:25%;
	position:absolute;
}
.CanNotRight{
  	width:100%;
}
.CanNotRightDiv{
	width:20%;
	text-align:center;
	right:5%;
	top:25%;
	position:absolute;
}
p{
	font-size:16px;
}
.col-sm-8 > .panel > .panel-heading {
    background-image: none;
    background-color: white;
   text-align: right;

}
.col-sm-4 {
	width: 20%;
	z-index:3;
}

.col-sm-8 {
	width: 80%;
	
}
.CanNotRightDownDiv{
	width:20%;
	text-align:center;
	left:0px;
	bottom:5%;
	position:absolute;
	z-index:2;
}
.CanNotRightDown{
	width:100%;
}
.functionTitle{
	background-color: #002eb8;
	width: 10%;
	position:absolute;
	color: white;
}
.leftTop{
	position: relative; 
	width: 20%;
	text-align: center;
	left: 1%;
	z-index:3;
}
.leftTopP{
	background-color: white;
	width: 100%;
	border-radius: 3%;
	
}
.leftSideBar{
	background-color: white;
	width: 100%;
	border-radius: 3%;
	
}
.rightTop{
	position: absolute; 
	float: right;
	top: 3.5%;
	right: 1.5%;
	width: 76%;
	text-align: center;
	margin:0;
	border-radius: 3%;
}
.BBSboard{
	background-color: white;
	width: 100%;
	border-radius: 3%;
}