* {
	font-family: 微軟正黑體;
}

#success h2 {
	display: inline-block;
	vertical-align: middle;
}

#success {
	line-height: 100vh;
	text-align: center;
}

#employee, #manager {
	width: 100%
}

.trbtn:hover {
	background-color: rgba(0, 43, 255, 0.2);
}

.tdTitle {
	font-weight: bolder;
}

.menu {
	height: 100vh;
	width: 12%;
	background-color: #E0E0E0;
	float: left;
}

.content {
	width: 88%;
	height: 100vh;
	float: right;
}

#employee td, #manager td {
	height: 50px;
	padding: 5px 15px;
}